@page "/ticket-types"
@using Microsoft.EntityFrameworkCore
@using Modmail.NET.Common.Exceptions
@using Modmail.NET.Common.Static
@using Modmail.NET.Database.Entities
@using Modmail.NET.Features.Teams.Queries
@using Modmail.NET.Features.Ticket.Commands
@using Modmail.NET.Web.Blazor.Components.Pages.Ticket.Shared
@using Modmail.NET.Web.Blazor.Extensions
@using Modmail.NET.Web.Blazor.Providers
@using Serilog
@inject IDbContextFactory<ModmailDbContext> DbContextFactory
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject ISender Sender
@attribute [AuthorizeTeam]

@code {

  [CascadingParameter]
  public required Task<AuthenticationState> AuthContext { get; set; }

  private IQueryable<TicketType>? _data;

  private bool _hasPermissionToManage;
  bool _isLoading;

  private async Task LoadDataAsync(LoadDataArgs? args = null)
  {
    _isLoading = true;
    var dbContext = await DbContextFactory.CreateDbContextAsync();
    var query = dbContext.TicketTypes.AsNoTracking()
            .OrderByDescending(x => x.RegisterDateUtc)
            .AsQueryable();

    query = query.ApplyDataGridFilter(args);


    _data = args is not null
            ? query.ApplyPagination(args)
            : query.Skip(0)
                    .Take(10)
                    .AsQueryable();

    _isLoading = false;
    StateHasChanged();
  }


  protected override async Task OnInitializedAsync()
  {
    var state = await AuthContext;
    var userId = state.User.GetUserId();
    _hasPermissionToManage = await Sender.Send(new CheckPermissionAccessQuery(userId, AuthPolicy.ManageTicketTypes));
    await LoadDataAsync();
  }


  private async Task RemoveAsync(TicketType ticketType)
  {
      var dialogResult = await DialogService.Confirm(Lang.TicketTypeDeletionWarning.Translate(), Lang.AreYouSure.Translate(), new ConfirmOptions
      {
              OkButtonText = Lang.Yes.Translate(),
              CancelButtonText = Lang.No.Translate(),
              CloseDialogOnOverlayClick = true,
              CloseDialogOnEsc = true
      });


      if (dialogResult == true)
      {
      const string logMessage = $"[{nameof(TicketTypes)}]{nameof(RemoveAsync)}({{@ticketType}})";
      try
      {
        var state = await AuthContext;
        var userId = state.User.GetUserId();

        await Sender.Send(new ProcessRemoveTicketTypeCommand(userId, ticketType.Id));
        Log.Information(logMessage, ticketType);
        NotificationService.Notify(NotificationSeverity.Success, Lang.TicketTypeDeletedSuccessfully.Translate());

        await LoadDataAsync();
      }
      catch (ModmailBotException ex)
      {
          Log.Warning(ex, logMessage, ticketType);
        ex.NotifyException(NotificationService);
      }
      catch (Exception ex)
      {
          Log.Fatal(ex, logMessage, ticketType);
        ex.NotifyException(NotificationService);
      }
    }
  }

  private async Task ShowAddDialog()
  {
      var dialog = await DialogService.OpenAsync(Lang.CreateTicketType.Translate(), _ => @<CreateOrUpdateTicketTypeDialogComponent></CreateOrUpdateTicketTypeDialogComponent>, new DialogOptions
      {
              Width = "450px"
      });
      if (dialog is true)
      {
      await LoadDataAsync();
    }
  }

  private async Task ShowEditDialog(TicketType ticketType)
  {
      var dialog = await DialogService.OpenAsync(Lang.EditTicketType.Translate(), _ => @<CreateOrUpdateTicketTypeDialogComponent
                                                                                               TicketType="ticketType"></CreateOrUpdateTicketTypeDialogComponent>, new DialogOptions
      {
              Width = "450px"
      });
      if (dialog is true)
      {
      await LoadDataAsync();
    }
  }

  private Task ShowEmbedMessage(TicketType data)
  {
      throw new NotImplementedException();
  }

}


<div class="container-xxl rz-mx-auto">
  <RadzenRow>
    <RadzenColumn Size="12">
      <RadzenRow>
        <RadzenColumn Size="12">
          <RadzenText TextStyle="TextStyle.H3" class="fw-bold">
            @Lang.TicketTypes.Translate()
          </RadzenText>
          @* <hr class="my-4"/> *@
          <p>
            @Lang.TicketTypePageDescription.Translate()
          </p>
        </RadzenColumn>
      </RadzenRow>
      <RadzenRow RowGap="4" class="rz-mt-5">
          @if (_data is null)
          {
          <Loading></Loading>
        }
          else
          {
          <RadzenCard Style="width: 100% !important;" class="rz-shadow-7">
            <RadzenDataGrid Responsive="true" LoadData="LoadDataAsync" AllowColumnPicking="true"
                            Density="Density.Default"
                            AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                            FilterMode="FilterMode.SimpleWithMenu"
                            AllowGrouping="false" AllowSorting="true" PageSize="10" AllowPaging="true"
                            PagerHorizontalAlign="HorizontalAlign.Left" PagerPosition="PagerPosition.TopAndBottom"
                            PagerAlwaysVisible="false" GotoFirstPageOnSort="true"
                            Data="@_data"
                            ColumnWidth="150px"
                            IsLoading="@_isLoading"
                            LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">
              <HeaderTemplate>
                <RadzenRow>
                  <RadzenColumn Size="12">
                      @if (_hasPermissionToManage)
                      {
                      <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                    Icon="add"
                                    Variant="Variant.Filled"
                                    Shade="Shade.Lighter"
                                    Size="ButtonSize.Medium"
                                    class="rz-my-1 rz-ms-1"
                                    Click="@ShowAddDialog">
                        @Lang.CreateTicketType.Translate()
                      </RadzenButton>
                    }
                  </RadzenColumn>
                </RadzenRow>
              </HeaderTemplate>
              <Columns>
                <RadzenDataGridColumn Visible="false" Property="@nameof(TicketType.Id)" Filterable="false"
                                      Title="@Lang.Id.Translate()"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketType.Name)" Filterable="true"
                                      Title="@Lang.Name.Translate()"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketType.Emoji)" Width="90px" Filterable="true"
                                      Title="@Lang.Emoji.Translate()"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketType.Description)" Filterable="true"
                                      Title="@Lang.Description.Translate()" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketType.Order)" Width="120px"
                                      Filterable="true" Title="@Lang.Order.Translate()" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="false" Property="@nameof(TicketType.RegisterDateUtc)" Width="120px"
                                      Filterable="true" Title="@Lang.RegisterDateUtc.Translate()"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="false" Property="@nameof(TicketType.UpdateDateUtc)" Width="120px"
                                      Filterable="true" Title="@Lang.UpdateDateUtc.Translate()"
                                      TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Context="data" TextAlign="TextAlign.Center" Filterable="false" Sortable="false"
                                      Title=@Lang.Actions.Translate()>
                  <Template Context="data">
                      <RadzenButton ButtonStyle="ButtonStyle.Info"
                                    Icon="info"
                                    Variant="Variant.Flat"
                                    Shade="Shade.Lighter"
                                    Size="ButtonSize.Medium"
                                    class="rz-my-1 rz-ms-1"
                                    Click="@(async () => await ShowEmbedMessage(data))"
                                    MouseEnter="@(args => TooltipService.Open(args, Lang.ShowEmbed.Translate(), new TooltipOptions { Style = "background: var(--rz-info);" }))"
                                    @onclick:stopPropagation="true">
                      </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Info"
                                  Icon="edit"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.Medium"
                                  class="rz-my-1 rz-ms-1"
                                  Click="@(async () => await ShowEditDialog(data))"
                                  MouseEnter="@(args => TooltipService.Open(args, Lang.Edit.Translate(), new TooltipOptions { Style = "background: var(--rz-info);" }))"
                                  @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.Medium"
                                  class="rz-my-1 rz-ms-1"
                                  MouseEnter="@(args => TooltipService.Open(args, Lang.Delete.Translate(), new TooltipOptions { Style = "background: var(--rz-danger);" }))"
                                  Click="@(async () => await RemoveAsync(data))"
                                  @onclick:stopPropagation="true">
                    </RadzenButton>
                  </Template>
                </RadzenDataGridColumn>

              </Columns>
            </RadzenDataGrid>
          </RadzenCard>
        }

      </RadzenRow>
    </RadzenColumn>
  </RadzenRow>
</div>