@page "/blacklist"
@using Microsoft.EntityFrameworkCore
@using Modmail.NET.Web.Blazor.Components.Layout.Shared
@using Modmail.NET.Web.Blazor.Components.Shared
@using Serilog
@using Modmail.NET.Web.Blazor.Components.Shared.Blacklist
@inject IDbContextFactory<ModmailDbContext> dbContextFactory
@inject DialogService dialogService
@inject  NotificationService notificationService

@code {

  private IQueryable<TicketBlacklist>? data;

  bool isLoading = false;

  async Task ShowLoading() {
    isLoading = true;

    await Task.Yield();

    isLoading = false;
  }


  private async Task reloadDataAsync(LoadDataArgs? args = null) {
    await ShowLoading();

    var dbContext = await dbContextFactory.CreateDbContextAsync();
    var query = dbContext.TicketBlacklists
                         .Include(x => x.DiscordUser)
                         .OrderByDescending(x => x.RegisterDateUtc)
                         .AsQueryable();


    if (args is not null) {
      query = query.ApplyDataGridFilter(args);
    }

    count = await query.CountAsync();

    data = args is not null
             ? query.ApplyPagination(args)
             : query.Skip(0).Take(10).AsQueryable();

    StateHasChanged();
  }

  
  protected override async Task OnInitializedAsync() {
    await base.OnInitializedAsync();
    await reloadDataAsync();
  }


  private async Task LoadDataAsync(LoadDataArgs args) {
    await reloadDataAsync(args);
  }

  private int count = 0;

  private async Task RemoveAsync(TicketBlacklist blacklist) {
    var dialogResult = await dialogService.Confirm("Are you sure you want to remove this user from the blacklist?",
                                                   options: new ConfirmOptions() {
                                                     OkButtonText = "Yes",
                                                     CancelButtonText = "No",
                                                     CloseDialogOnOverlayClick = true,
                                                     CloseDialogOnEsc = true,
                                                   });

    if (dialogResult == true) {
      const string logMessage = $"[{nameof(Blacklist)}]{nameof(RemoveAsync)}{{UserId}})";
      try {
        await blacklist.ProcessRemoveUserFromBlacklist(blacklist.DiscordUserId);
        Log.Information(logMessage,
                        blacklist.DiscordUserId);
        notificationService.Notify(NotificationSeverity.Success,
                                   "User removed from blacklist");

        await reloadDataAsync();
      }
      catch (BotExceptionBase ex) {
        Log.Warning(ex,
                    logMessage,
                    blacklist.DiscordUserId);
        ex.NotifyException(notificationService);
      }
      catch (Exception ex) {
        Log.Fatal(ex,
                  logMessage,
                  blacklist.DiscordUserId);
        ex.NotifyException(notificationService);
      }
    }
  }

  private async Task ShowAddDialogAsync() {
     var result = await dialogService.OpenAsync("Block User", ds =>
                                     @<div>
                                        <AddBlacklistDialog></AddBlacklistDialog>
                                     </div>,
                                   new DialogOptions() {
                                     Width = "400px",
                                   });
     if (result is true) {
        await reloadDataAsync();
     }
  }


}


<div class="rz-mx-auto">
  <RadzenRow>
    <RadzenColumn Size="12">
      <RadzenRow>
        <RadzenColumn Size="12">
          <RadzenText TextStyle="TextStyle.H3" class="fw-bold">
            Blacklist
          </RadzenText>
          <p>
            This page shows the list of users that are blacklisted from using the bot.
          </p>
          @* <hr class="my-4"/> *@
        </RadzenColumn>
      </RadzenRow>
      <RadzenRow RowGap="4" class="rz-mt-5">
        @if (data is null) {
          <Loading></Loading>
        }
        else {
          <RadzenCard Style="width: 100% !important;" class="rz-shadow-7">
            <RadzenDataGrid Responsive="true" Count="count" LoadData="LoadDataAsync" AllowColumnPicking="true" AllowFiltering="false" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.SimpleWithMenu"
                            AllowGrouping="false" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" PagerPosition="PagerPosition.TopAndBottom"
                            PagerAlwaysVisible="false" GotoFirstPageOnSort="true"
                            Data="@data" TItem="TicketBlacklist" ColumnWidth="180px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                            IsLoading=@isLoading Sort="@ShowLoading" Page="@ShowLoading" Group="@ShowLoading" Filter="@ShowLoading">
              <HeaderTemplate>
                <RadzenRow>
                  <RadzenColumn Size="12">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add" Variant="Variant.Filled" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@ShowAddDialogAsync">
                      Block User
                    </RadzenButton>
                  </RadzenColumn>
                </RadzenRow>
              </HeaderTemplate>
              <Columns>
                <RadzenDataGridColumn Visible="false" Property="@nameof(TicketBlacklist.Id)" Filterable="false" Title="ID"  Width="120px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Title="User Avatar" Sortable="false" Filterable="false" Width="120px" TextAlign="TextAlign.Center">
                  <Template Context="data">
                    <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">
                      <RadzenImage class="rz-m-0 rz-p-0" Style="width: 100px; height: 100px" Path="@data.DiscordUser!.AvatarUrl" AlternateText=""/>
                    </RadzenStack>
                  </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="OpenerUser.Username" Title="User"Sortable="true" Filterable="true" Width="100px" TextAlign="TextAlign.Center">
                  <Template Context="data">
                    <RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">
                      <RadzenText Text="@data.DiscordUser!.Username" TextAlign="TextAlign.Center" class="fw-bold"></RadzenText>
                    </RadzenStack>
                  </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketBlacklist.RegisterDateUtc)" Filterable="true" Title="Register Date UTC" Width="80px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn Visible="true" Property="@nameof(TicketBlacklist.Reason)" Filterable="true" Title="Reason" Width="120px" TextAlign="TextAlign.Center"/>

                <RadzenDataGridColumn Context="data" TextAlign="TextAlign.Center" Filterable="false" Sortable="false" Title="Actions"  >
                  <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(async () => await RemoveAsync(data))" @onclick:stopPropagation="true">
                    </RadzenButton>
                  </Template>
                </RadzenDataGridColumn>

              </Columns>
            </RadzenDataGrid>
          </RadzenCard>
        }

      </RadzenRow>
    </RadzenColumn>
  </RadzenRow>
</div>