@using Modmail.NET.Features.UserInfo
@inject ISender Sender
<link rel="stylesheet" href="css\DiscordChatMessageView.css"/>

<div class="discord-message">
    <div class="discord-message-header">
        <img src="@AvatarUrl" alt="@Username" class="discord-avatar"/>
        <span class="discord-username">@Username</span>
        <span class="discord-timestamp">@RegisterDateUtc.ToString("MM/dd/yyyy HH:mm:ss")</span>
    </div>
    <div class="discord-message-content">
        @MessageContent
        @if (HasAttachments) {
            <div class="discord-message-attachments">
                @foreach (var attachment in Attachments) {
                    <a href="@attachment.Url" target="_blank" class="discord-attachment">
                        @attachment.FileName
                    </a>
                }
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public required string MessageContent { get; set; }

    [Parameter]
    public DateTime RegisterDateUtc { get; set; }

    [Parameter]
    public required string Username { get; set; }

    [Parameter]
    public required string AvatarUrl { get; set; }

    [Parameter]
    public List<TicketMessageAttachment> Attachments { get; set; } = [];

    private bool HasAttachments => Attachments != null && Attachments.Any();
}
